.inventory-statistics {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  /* width: 20rem; */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 37rem;
}

.inventory-statistics h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.chart-section {
  margin-top: 1rem;
}

.chart-section h3 {
  font-size: 0.875rem;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.chart-section p {
  font-size: 0.75rem;
  color: #555;
}
