.password-reset-success-container {
  display: flex;
  height: 100vh;
}

.password-reset-success-image {
  flex: 1;
}

.password-reset-success-image img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.password-reset-success-content {
  flex: 1;
  padding: 2rem;
}

.password-reset-success-content .logo {
  margin-bottom: 2rem;
}

.password-reset-success-content h2,
.password-reset-success-content p {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .password-reset-success-image {
    display: none;
  }
}
