.reset-password-container {
  display: flex;
  height: 100vh;
}

.reset-password-image {
  flex: 1;
}

.reset-password-image img {
  width: 100%;
  object-fit: cover;
}

.reset-password-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sent-email-content .logo {
  display: block;
  margin: 0 auto 1.25rem auto;
}

.reset-password-content h2,
.reset-password-content p,
.reset-password-content .bold {
  margin-bottom: 1rem;
}

.reset-password-content p span,
.reset-password-content h2 span,
.bold {
  font-weight: 600;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
}

.input-container span {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 767px) {
  .reset-password-image {
    display: none;
  }
}
